<ion-view view-title="Boissons">
  <ion-content class="padding">
    <div class="row">
      <!-- Duplicate -->
      <div id="commande" class="col-20 item">
        <div class="item item-balanced">
          <h2>Votre Table</h2>
        </div>
        <div class="list">
          <div class="item item-divider">
            Diego
          </div>
        </div>
        <button class="button button-balanced">
          Valider
        </button>
      </div>
      <div class="col-80 padding">
        <div class="row">
          <div class="col-50">
            <h1 class="floatRight"> Commande de Diego </h1>
          </div>
        </div>
        <hr>
        <div class="row list list-inline">
          <button ng-click="getBoissonsAll()" ng-class="{true: 'col-20 button button-assertive', false: 'col-20 button button-stable'}[categorieBoissons == 'All']">
            Toutes
          </button>
          <button ng-click="getBoissonsCat('froid')" ng-class="{true: 'col-20 button button-assertive', false: 'col-20 button button-stable'}[categorieBoissons == 'froid']">
            Boissons froides
          </button>
          <button ng-click="getBoissonsCat('chaud')" ng-class="{true: 'col-20 button button-assertive', false: 'col-20 button button-stable'}[categorieBoissons == 'chaud']">
            Boissons chaudes
          </button>
          <button ng-click="getBoissonsCat('alcool')" ng-class="{true: 'col-20 button button-assertive', false: 'col-20 button button-stable'}[categorieBoissons == 'alcool']">
            Alcools
          </button>
        </div>
        <div class="boissons" collection-repeat="boisson in boissons" item-height="25%" item-width="25%">
          <img ng-src="{{boisson.img}}">
          <h4>{{boisson.name}}</h4>
        </div>
        <button class="col-25 button button-stable bottomButtonHelp">
          Appeler le serveur
        </button>
        <div id="bottomButtonDiv" class="row">
          <button ng-click="goToPizzas()" class="col-25 button button-stable bottomButton">
            Revenir aux pizzas
          </button>
          <button ng-click="goToDesserts()" class="col-25 button button-stable bottomButton">
            Passer aux desserts
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
