<ion-view view-title="Cuisine">
  <ion-content class="padding">
	<div class="row">
		<div class="commande" collection-repeat="commande in commandes" item-height="25%" item-width="25%">
			<div class="card">
				<div class="item item-divider">
					<h2 class="text-center"> <b> {{commande.name}} </b> </h2>
				</div>
				<div class="item item-text-wrap text-center">
					<div style="display:inline-block">
						<p ng-repeat="content in commande.content track by $index">
							{{content}}
						</p>
					</div>
				</div>
			</div>
		</div>
		<div id="bottomButtonDiv" class="row">
			<button class="col-25 button button-assertive bottomButtonCuisine">
				Annuler
			</button>
			<button class="col-25 button button-balanced bottomButtonCuisine">
				Fait
			</button>
		</div>
	</div>
  </ion-content>
</ion-view>