<ion-view view-title="Desserts">
  <ion-content class="padding">
	<div class="row">
		<!-- Duplicate -->
		<div id="commande" class="col-20 item">
			<div class="item item-balanced">
				<h2>Votre Table</h2>
			</div>
			<div class="list">
				<div class="item item-divider">
					Diego
				</div>
			</div>
			<button class="button button-balanced">
				Valider
			</button>
		</div>
		<div class="col-80 padding">
			<div class="row">
				<div class="col-50">
					<h1 class="floatRight"> Commande de Diego </h1>
				</div>
			</div>
			<hr>
			<div class="row list list-inline">
				<button ng-click="getDessertsAll()" ng-class="{true: 'col-20 button button-assertive', false: 'col-20 button button-stable'}[categorieDesserts == 'All']">
					Tous
				</button>
				<button ng-click="getDessertCat('tarte')" ng-class="{true: 'col-20 button button-assertive', false: 'col-20 button button-stable'}[categorieDesserts == 'tarte']">
					Les tartes
				</button>
				<button ng-click="getDessertCat('gateau')" ng-class="{true: 'col-20 button button-assertive', false: 'col-20 button button-stable'}[categorieDesserts == 'gateau']">
					Les gâteaux
				</button>
				<button ng-click="getDessertCat('glace')" ng-class="{true: 'col-20 button button-assertive', false: 'col-20 button button-stable'}[categorieDesserts == 'glace']">
					Les glaces
				</button>
			</div>
			<ion-scroll direction="y" class="available-scroller" style="width: 100%; height: 70vh">
				<div class="desserts" collection-repeat="dessert in desserts" item-height="25%" item-width="25%">
					<img ng-src="{{dessert.img}}">
					<h4>{{dessert.name}}</h4>
				</div>
			</ion-scroll>
			<button class="col-25 button button-stable bottomButtonHelp">
					Appeler le serveur
			</button>
			<div id="bottomButtonDiv" class="row">
				<button ng-click="goToBoissons()" class="col-25 button button-stable bottomButton">
					Revenir aux boissons
				</button>
				<button ui-sref="timer" class="col-25 button button-stable bottomButton">
					Valider
				</button>
			</div>
		</div>
	</div>
  </ion-content>
</ion-view>
