<ion-view view-title="Accueil">
  <ion-content class="padding">

    <h3 class="col-center">Veuillez configurer le mode de la tablette: </h3>
    <div class="row" style="height: 50%;">
      <div class="col-33">
        <p><a ui-sref="password" class="button button-block ion-knife" style="background-color:#9CCC65; color:white"> Cuisinier</a></p>
      </div>
      <div class="col-33">
        <p><a ui-sref="password" class="button button-block ion-android-walk" style="background-color:#5C6BC0; color:white"> Serveur</a></p>
      </div>
      <div class="col-33">
        <p><a ui-sref="tables" class="button button-block ion-android-restaurant" style="background-color:#8D6E63; color:white"> Client</a></p>
      </div>
    </div>

    <div class="bar bar-footer">
      <div class="title">
        Company Mikado's Pizza
      </div>
    </div>
  </ion-content>
</ion-view>
