<ion-view view-title="Paiement">
  <ion-content class="padding">
    <div class="row">
      <!-- Duplicate -->
      <div id="commande" class="col-20 item">
        <div class="item item-balanced">
          <h2>Reste a payer</h2>
        </div>
        <button class="button button-balanced">
          Valider
        </button>
      </div>
      <div class="col-80 padding">
        <button class="col-25 button button-stable bottomButtonHelp">
          Appeler le serveur
        </button>
        <div id="bottomButtonDiv" class="row">
          <button ui-sref="timer" class="col-25 button button-stable bottomButton">
            Retour
          </button>
          <button ui-sref="" class="col-25 button button-stable bottomButton">
            Reste a payer : 80E
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
